.exam__list{
  width: 20vw;
  border: 2px solid black;
  padding: 6px;
  margin-left: 10px;
}
.exam__list input{
  margin-bottom: 10px;
}

.exam__name{
  text-align: end;  
  font-size: medium;
}

.exam__info{
   border: 2px solid black;
   margin: 5px 0px;
   padding: 2px 5px;
   cursor: pointer;
}

